@import "tailwindcss";

@theme {
    --color-primary: #137fec;
    --color-background-light: #f6f7f8;
    --color-background-dark: #101922;
    --color-warning: #ef4444;
    --color-amber-alert: #f59e0b;

    --font-display: "Inter", "Noto Sans TC", sans-serif;
}

/* Enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .custom-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    -webkit-tap-highlight-color: transparent;
}